
/* GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0 10%;

}

ul li{
  list-style: none;
  line-height: 50px;

}
a {
  text-decoration: none;
  color: grey;

}

a:hover {
  color: black;

}

/* HEADER */
/* NAVBAR HEADER */

.headnavbar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: rgb(243, 244, 245);

}

.headnavbar-left, .headnavbar-right {
  display: flex;

}

.headnavbar-left li a{
  padding-right: 30px;
}

.headnavbar-right li a{
  padding-left: 30px;
}


/* MAIN */
/* NAVBAR MAIN */

.nav-main {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* background-color: lightblue;    /*debug*/ */
}
.nav-main-list {
  display: flex;


}

.nav-main-list li{
  padding-right: 30px;


}
#nav-main-logo {
  font-family: 'Roboto 700',sans-serif;
  font-size: 30px;
  color: black;
  padding-right: 50px;

}
.nav-main-dropdown {
  position:relative;
}
.nav-main-dropdown li a:hover{
  display: block;
}
.nav-main-dropdown ul{
  width: 100px;
  height: 100px;
  border: 1px grey solid;
  border-radius: 10px;
  position:absolute;
  display: none;
  z-index: 50;
}




/* JUMBO */

.jumbo {
  display: flex;
}

img {
  height: 500px;

}
.jumbo-left {
  width:50%;
}
.jumbo-right {
  width:50%;
}
