
/* GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0 10%;

}

ul li{
  list-style: none;
  line-height: 50px;

}
a {
  text-decoration: none;
  color: grey;
}

/* HEADER */
/* NAVBAR HEADER */

.headnavbar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: lightgrey;

}

.headnavbar-left, .headnavbar-right {
  display: flex;

}


/* MAIN */
/* NAVBAR MAIN */

.nav-main {
  height: 50px;
  width: 100%;
  background-color: lightblue;    /*debug*/
}
.nav-main-list {
  display: flex;

}
